[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django = "*"
django-heroku = "*"
djangorestframework = "*"
python-decouple = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-rest-api = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
