django = "*"
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django-rest-api = "*"
autopep8 = "*"
pytest = "*"
